<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark shadow py-0" id="mainNav">
    <div class="container-fluid">
        <div class="navbar-brand d-flex">
            <img height="35" alt="Angular Logo"
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
            <h4 class="ms-2">News Portal</h4>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navCollapse">
            <ul class="navbar-nav nav-pills ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" routerLink="business">Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" routerLink="entertainment">Entertainment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="health">Health</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" routerLink="science">Science</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" routerLink="sports">Sports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" routerLink="technology">Technology</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline ms-3 me-auto my-1">
                        <div class="input-group">
                            <input type="text" class="bg-light form-control border-0" placeholder="Search for...">
                            <button class="btn btn-light btn-outline-secondary p-1 border-0" type="button">
                                <span class="QCzoEc z1asCe MZy1Rb">
                                    <svg focusable="false" width=24 xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                        </path>
                                    </svg>
                                </span>
                            </button>

                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
